:root {
	--cerise-color: #DB1E8C;
	--carnation-color: #FF97D3;
	--pickled-bluewood-color: #33475B;
	--daring-indigo-color:#364372;
	--white-color: #FFFFFF;
	--whitesmoke-color: #F5F5F5;
	--cornflower-color: #264FEC;
	--blue2-color: #0000d6;
	--black-color: #000000;
}